*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --padding: 5rem;
    --fw-bold: 900;
    --fw-semi_bold: 600;
    --text-caps: uppercase;
    --clr-primary: #313030;
}

body {
    font-family: 'Spectral', serif;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: start;
    background: #f0eded;
}

/*utitity class*/
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.grid1x2 {
    grid-template-columns: 1fr 1fr;
}

.grid1x {
    grid-template-columns: 1fr;
}


.container {
    max-width: 500px;
    margin: 0 auto;
}

.title {
    text-transform: var(--text-caps);
    color: var(--clr-primary);
    font-family: 'Cantora One', sans-serif;
    font-size: 2.2rem;
}


/*header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

.logo a img {
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
.menu-btn {
    font-size: 2rem;
}
ul {
    list-style: none;
}
.nav-link {
    display: none;
    gap: 1.5rem;
}

.link a {
    color: var(--clr-primary);
    font-weight: var(--fw-semi_bold);
    transition: border 5s ease-in-out;
}

.link a:hover {
    border-bottom: 5px dotted rgb(61, 29, 2);
}

p {
    line-height: 1.7;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}
@media screen and (min-width:850px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .nav-link {
        display: flex;
        gap: 1.5rem;
    }
    .title{
        font-size: 3.2rem;
    }
    .menu-btn {
        display: none;
    }
}
/*-----------------MAIN----------------*/
/*Grouping elements*/

.hero,
.breathing,
.footer {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*hero*/
.hero {
    background-image: url("https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 80vh;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-bold);
}

.hero-title {
    font-size: 5rem;
    margin-bottom: 0;
}

.subtitle {
    color: #212020;
    font-size: 2.2rem;
    margin-top: 0;
    font-weight: 600;
}

/*About*/

.about {
    gap: 15px;
    text-align: center;
    padding: var(--padding) 0;
}
.active a {
    color: rgb(4, 118, 120);
    
}
.about-img {
    height: 250px;
}
.about .grid {
    grid-template-columns: repeat(1, 1fr);
}
.container.grid {
    gap: 2rem;
}

.about-article-subtitle {
    padding: 1rem;
    margin: 0;
}

.about-article-title {
    font-size: 2rem;
}

@media screen and (min-width:760px) {
    .about .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .about-article-title {
        font-size: 2.5rem;
    }
}

/*poses*/

.content {
    width: 100%;
    max-width: 700px;
    justify-self: center;
}

hr {
    color: lightslategray;
}

.pose-details {
    text-align: start;
}

.yoga-positions.grid {
    gap: 20px;
    grid-template-columns: 1fr;
}

.yoga-positions {
    padding: 2rem 0;
}


@media screen and (min-width: 768px) {
    .yoga-positions.grid {
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}

/*breathing*/
.breathing {
    background-image: url("https://images.unsplash.com/photo-1600618528240-fb9fc964b853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.breathing-content {
    max-width: 500px;
    padding: 2rem;
    text-align: start;
    text-shadow: 0 0 8px rgb(49, 41, 35);
}

.breathing-subtitle {
    color: #fffbf9;
    margin-top: 1rem;
}

.breathing-content .subtitle  {
    height: 500px;
}

.breathing-title,
.step-title {
    color: rgb(196, 253, 71);
    margin-bottom: 0;
}

@media screen and (min-width: 760px) {
    .breathing-subtitle {
        color: #dbdfda;
    }

    .breathing-content {
        width: 30%;
        margin-left: 10rem;
    }
}

/*health-section*/
.health {
    padding: var(--padding);
    background: #fff;
}

.values.flex {
    flex-direction: column;
    align-items: center;
}
.symbiosis.flex {
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.symbols span {
    font-size: 7rem;
    color: antiquewhite;
}
.symbols {
    font-size: 2rem;
    color: #4d4b4b;
    font-weight: var(--fw-semi_bold);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media screen and (min-width: 760px) {

    .values.flex {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    

    .symbols {
        width: 30rem;
        height: 30rem;
        font-size: 2.2rem;
    }
}


/*video*/
.video .flex {
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--padding);
}

.video-subtitle {
    padding-top: 2rem;
}
.video-container {
 width: 80vw;
}
.video-frame {
    opacity: 0.4;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.video-frame:hover {
    opacity: 1;
}

.video-lable {
    font-weight: var(--fw-semi_bold);
    font-size: 1.8rem;
    margin-top: 5px;
}

.footer {
    background: url("https://images.unsplash.com/photo-1499728603263-13726abce5fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 90vh;
    background-position: center 75%;
    background-size: cover;
    padding: var(--padding) 0 ;
    align-items: start;
}

.footer p {
    margin: 5px;
}
@media screen and (min-width: 760px) {
footer {
    height: 100vh;
    background-position: center;
    padding: var(--padding) 2rem calc(var(--padding) + 2rem);
    align-items: center;
}

